/*-----GLOBAL CSS-----*/

* {
  border: 1px solid gold;
}

body {
  background-color: azure;
  cursor: pointer;
}

.disableClicks {
  pointer-events: none;
  opacity: 0.4;
}

/*-----TEXT CSS-----*/
h1 {
  font-family: 'Lakki Reddy', cursive;
  font-size: 82px;
  text-align: center;
  padding-top: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  font-family: 'Lakki Reddy', cursive;
  font-size: 42px;
  text-align: center;
  padding: 10px 5px 0px 5px;
}

h3 {
  font-family: 'Lakki Reddy', cursive;
  font-size: 28px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
h4 {
  font-family: 'Lakki Reddy', cursive;
  font-size: 18px;
  text-align: center;
}

/*-----INSTRUCTIONS CSS------*/

.instructionsHeader {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 15px;
  background: #BBF6F4;
}

#textContainer {
  margin: auto;
  max-width: 600px;
}

ol {
  margin-bottom: 0px;
}

li {
  text-align: left;
  padding-left: 10px;
  padding-right: 15px;
}

/*-----GAMEPLAY CSS------*/
#gameplayContainer {
  display: flex;
  flex-direction: row;
  height: auto;
  margin-top: 20px;
}

#colGameplay {
  display: flex;
  flex-grow: 2.5;
  flex-direction: column;
  margin-top: 0px;
  border: 1px solid black;
}

.rows {
  display: flex;
  flex-direction: row;
}

.bubbles {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

/*-----PLAYER CSS-----*/
#colPlayer1,
#colPlayer2 {
  display: flex;
  flex-grow: .75;
  flex-direction: column;
  max-width: 275px;
}

#player1,
#player2 {
  display: flex;
  vertical-align: center;
  max-width: 275px;
}

.done {
  text-align: center;
  font-family: 'Lakki Reddy', cursive;
  font-size: 32px;
  background-color: green;
  color: white;
  height: 50px;
  width: 180px;
  margin-left: 45px;
  margin-top: 40px;
  padding-top: 5px;
}
/*-----WIN & RESET CSS-----*/

.winner1 {
  background: blue;
  text-align: center;
  font-family: 'Lakki Reddy', cursive;
  font-size: 42px;
  color: white;
}

.winner2 {
  background: red;
  text-align: center;
  font-family: 'Lakki Reddy', cursive;
  color: white;
}

.restart {
  background: green;
  text-align: center;
  font-family: 'Lakki Reddy', cursive;
  font-size: 32px;
  color: white;
}
