/*GOOGLE FONTS
font-family: 'Lakki Reddy', cursive;
font-family: 'Short Stack', cursive;
font-family: 'Merienda One', cursive;
font-family: 'Eagle Lake', cursive;
Dragon Bubble: #BBF6F4
*/

/*-----GLOBAL CSS-----*/
* {
  border: 2px solid gold;
}

body {
  background-color: #F1F1F1;
  cursor: pointer;
}

.disableClicks {
  pointer-events: none;
  opacity: 0.4;
}

/*-----TEXT CSS-----*/
h1 {
  font-family: 'Lakki Reddy', cursive;
  font-size: 82px;
  text-align: center;
  padding-top: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  font-family: 'Lakki Reddy', cursive;
  font-size: 42px;
  text-align: center;
}

h3 {
  font-family: 'Lakki Reddy', cursive;
  font-size: 28px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}
h4 {
  font-family: 'Lakki Reddy', cursive;
  font-size: 18px;
  text-align: center;
}

/*.nonPlayScreens {
  height: 100px;
}*/

/*-----GAMEPLAY CSS-----*/
#gameplayContainer {
  display: flex;
  flex-direction: row;
  height: auto;
}

#colGameplay {
  display: flex;
  flex-grow: 2.5;
  flex-direction: column;
  margin-top: 0px;
}

.rows {
  display: flex;
  flex-direction: row;
}

.bubbles {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

/*-----PLAYER CSS-----*/
#colPlayer1 {
  display: flex;
  flex-grow: .75;
  flex-direction: column;
  max-width: 275px;
}

.avatar {
  max-width: 275px;
  display: flex;
  vertical-align: center;
}

.done {
  text-align: center;
  font-family: 'Lakki Reddy', cursive;
  font-size: 32px;
  background-color: green;
  color: white;
  height: 50px;
  width: 180px;
  margin-left: 45px;
  margin-top: 40px;
  padding-top: 5px;

/*#player1Lives {
  display: flex;
  justify-content: center;
}
#player2Lives {
  display: flex;
  justify-content: center;
}*/

#colPlayer2 {
  display: flex;
  flex-grow: .75;
  flex-direction: column;
  max-width: 275px;
}

/*-----FOOTER CSS-----*/
