/*GOOGLE FONTS
font-family: 'Lakki Reddy', cursive;
font-family: 'Short Stack', cursive;
font-family: 'Merienda One', cursive;
font-family: 'Eagle Lake', cursive;

Dragon Bubble: #BBF6F4
*/

* {
  border: 2px solid gold;
}

body {
  background-color: #F1F1F1;
}

h1 {
  font-family: 'Lakki Reddy', cursive;
  font-size: 82px;
  text-align: center;
  padding-top: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

h2 {
  font-family: 'Lakki Reddy', cursive;
  font-size: 36px;
  text-align: center;
}

h3 {
  font-family: 'Lakki Reddy', cursive;
  font-size: 24px;
}

h4 {
  font-family: 'Lakki Reddy', cursive;
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*.nonPlayScreens {
  height: 100px;
}*/

#gameplayContainer {
  display: flex;
  flex-direction: row;
  height: auto;
}

/*Gameplay CSS*/
#colGameplay {
  display: flex;
  flex-grow: 2.5;
  flex-direction: column;
  margin-top: 60px;
}

.rows {
  display: flex;
  flex-direction: row;
}

.bubbles {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  margin-bottom: 5px;
  margin-top: 5px;
}

/*Player CSS*/
#colPlayer1 {
  display: flex;
  flex-grow: .75;
  flex-direction: column;
  max-width: 275px;
}

.avatar {
  max-width: 275px;
  display: flex;
  vertical-align: center;
}

#p1Done {
  text-align: center;
  font-family: 'Lakki Reddy', cursive;
  font-size: 32px;
  background-color: green;
  color: white;
  height: 50px;
  width: 180px;
  margin-left: 40px;


/*#player1Lives {
  display: flex;
  justify-content: center;
}
#player2Lives {
  display: flex;
  justify-content: center;
}*/

#colPlayer2 {
  display: flex;
  flex-grow: .75;
  flex-direction: column;
  max-width: 275px;
}

/*Footer CSS*/
#footer {
  font-family: 'Lakki Reddy', cursive;
  font-size: 18px;
  text-align: center;
}
